[Unit]
Description="MaBinouze.fr Database Cleaning"

[Service]
Type=simple
User=mabinouze
Group=mabinouze
UMask=0111
WorkingDirectory=/opt/mabinouze/assets/python/
Environment=PYTHONPATH=/opt/mabinouze/assets/python/venv/lib/python3.11/site-packages
ExecStart=/opt/mabinouze/assets/python/venv/bin/flask --app mabinouze:app clean-db